@use '@/styles/variables' as *;
@use '@/styles/mixins' as m;

.inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.title {
  margin-top: 1rem;
  font-size: $fs-xxlarge;
  font-weight: $fw-bold;
  color: $black-1;
}

.text {
  margin-bottom: 2rem;
  font-size: $fs-xsmall;
  font-weight: $fw-bold;
  color: $gray-1;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.link {
  font-size: $fs-xxxsmall;
  font-weight: $fw-bold;
  text-decoration: none;
  color: $black-1;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: $black-1;
  }
}

.linkWarning {
  text-decoration: none;
  color: $blue-1;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: $blue-1;
  }
}
