@use '@/styles/variables' as *;

.defaultButton {
  box-sizing: border-box;
  width: 100%;
  min-width: fit-content;
  height: 45px;
  padding: 5px 20px;
  border: var(--button-border, initial);
  border-radius: $r-xsmall;
  font-family: $font-family-primary;
  font-size: $fs-xsmall;
  font-weight: $fw-semibold;
  color: $white-3;
  cursor: pointer;

  .icon {
    width: 16px;
    height: 16px;
  }

  .label {
    align-items: center;
  }

  &:disabled {
    border: none;
    color: $white-3;
    background: $gray-2;
  }
}
