@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  @include m.mobile {
    gap: 16px;
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputLabel {
  @include m.font-text;

  font-weight: v.$fw-semibold;
  color: v.$black-1;

  @include m.mobile {
    @include m.font-small-text;
  }
}

.inputWrapper {
  width: 100%;

  :global(.defaultInputWrapper) {
    width: 100%;
    height: 40px;
    border: 1px solid v.$gray-3;

    &:focus-within {
      border-color: v.$yellow-1;
    }
  }

  &.error {
    :global(.defaultInputWrapper) {
      border-color: v.$red-1;

      &:focus-within {
        border-color: v.$red-1;
      }
    }
  }
}

.errorMessage {
  @include m.font-tiny-text;

  margin: 0;
  color: v.$red-1;

  @include m.mobile {
    font-size: 10px;
  }
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 8px;

  @include m.mobile {
    gap: 8px;
  }
}
