@use '@/styles/variables' as *;

.section {
  margin-bottom: 0;
}

.sectionTitle {
  margin-bottom: 1rem;
  font-size: $fs-large;
  font-weight: $fw-bold;
  color: $black-1;
}

.selectedSection {
  margin-top: 1.5rem;
}

.sectionSubtitle {
  margin-bottom: 1rem;
  font-size: $fs-xsmall;
  font-weight: $fw-regular;
  color: $black-1;
}

.searchSection {
  margin-top: 1.5rem;
}

.searchTitle {
  margin-bottom: 0.75rem;
  font-size: $fs-small;
  font-weight: $fw-semibold;
  color: $black-1;
}

.techStackContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.techButton {
  height: 34px;
  padding: 0.5rem 1rem;
  border: 1px solid var(--gray-2);
  font-size: $fs-xsmall;
  font-weight: $fw-regular;
  white-space: nowrap;
  background-color: $white-3;
}
