@use '@/styles/variables' as *;

.subPanel__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-right: 1px solid $gray-1;
  background-color: $white-3;
}

.subPanel__title {
  font-size: $fs-small;
  font-weight: $fw-semibold;
}
