@use '@/styles/variables' as *;
@use '@/styles/mixins' as m;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px 0;
  box-sizing: border-box;
  width: 100%;
  padding: 25px 30px;
  border: 0.7px solid $gray-3;
  border-radius: $r-xsmall;
  background-color: $white-3;
}

.titleArea {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}

.title {
  flex: 1;
  min-width: 0;
  overflow-wrap: break-word;
  font-size: $fs-medium;
  font-weight: $fw-bold;
  white-space: normal;
  color: $gray-1;
}

.titleAction {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 0 5px;
}

.content {
  white-space: pre-line;

  &.readonly {
    pointer-events: none;
    user-select: none;

    * {
      cursor: default;
    }
  }
}
