@use '@/styles/variables.scss' as *;

.chatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;
  user-select: none;

  .searchBox {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
  }

  .chatItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 53px;
    padding: 0 20px;

    &:not(:nth-last-child(1 of .chatItem)) {
      border-bottom: 1px solid $gray-2;
    }

    &.chatError {
      color: $gray-2;
    }

    .profileImage {
      display: block;
      width: 32px;
      height: 32px;
      border: 1px solid $gray-2;
      border-radius: 50%;
    }

    .chatInfo {
      display: flex;
      flex: 1;
      align-items: center;
      gap: 11px;

      .chatName {
        flex: 1;
        height: 100%;
        cursor: pointer;
      }
    }
  }
}
