@use '@/styles/variables' as *;
@use '@/styles/mixins' as m;

.applicantsGrid {
  display: grid;
  grid-template-columns: 120px 1fr 200px;
  gap: 20px 16px;
  width: 100%;
}

.gridLabel {
  margin: auto;
  font-weight: $fw-bold;
  text-align: center;
}

.loading {
  padding: 40px 0;
  text-align: center;
  color: $gray-3;
}

.error {
  padding: 40px 0;
  text-align: center;
  color: $red-1;
}

.empty {
  padding: 40px 0;
  text-align: center;
  color: $gray-3;
}
