@use '@/styles/variables' as *;

.container {
  width: 100%;
}

.section {
  margin-bottom: 16px;
}

.sectionSubtitle {
  margin-bottom: 16px;
  font-size: $fs-xxsmall;
  font-weight: $fw-regular;
  color: $gray-1;
}

.optionGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1.5rem;

  .studyTypeButton {
    &.selected {
      border-color: #{$yellow-1} !important;
      font-weight: #{$fw-bold} !important;
      color: #{$white-3} !important;
      background-color: #{$yellow-1} !important;
    }

    &:not(.selected):hover:not(:disabled) {
      border-color: #{$yellow-1} !important;
      font-weight: #{$fw-bold} !important;
      color: #{$white-3} !important;
      background-color: #{$yellow-1} !important;
    }
  }
}

.selectionInfo {
  font-size: $fs-xxxsmall;
  font-weight: $fw-medium;
  text-align: center;
  color: $gray-1;
}
