@use '@/styles/variables' as *;
@use '@/styles/mixins' as m;

.layoutContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contentContainer {
  display: flex;
  flex-grow: 1;
  width: calc(100% - 47px);
  min-height: calc(100vh - 96px);
  margin-top: 96px;
  margin-left: 47px;
  background-color: $white-2;

  @include m.tablet {
    width: calc(100% - 42px);
    min-height: calc(100vh - 96px);
    margin-top: 96px;
    margin-left: 42px;
  }

  @include m.mobile {
    width: calc(100% - 37px);
    min-height: calc(100vh - 81px);
    margin-top: 81px;
    margin-left: 37px;
  }
}
