@use '@/styles/variables' as *;

.dateInputWrapper {
  position: relative;

  input[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  input[type='date'] {
    cursor: text !important;
    appearance: textfield;
    appearance: textfield;

    &:focus {
      cursor: text !important;
    }

    &::placeholder {
      color: var(--gray-2);
      opacity: 1;
    }
  }

  input[type='date']::-moz-calendar-picker-indicator {
    display: none;
  }
}
