@use '@/styles/variables' as *;
@use '@/styles/mixins' as m;

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-width: 1000px;
  margin: auto;
  padding: 55px 103px;
  color: $black-4;
  background-color: $white-2;
}

.title {
  @include m.font-title;
}

.label {
  @include m.font-description;

  font-weight: $fw-semibold;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100% - 160px);
  padding: 50px 80px;
  border: 1px solid $gray-3;
  border-radius: $r-xsmall;
  background-color: $white-3;
}

.membersGrid,
.participantsGrid {
  display: grid;
  align-items: center;
  grid-template-columns: 150px 1fr 80px;
  gap: 20px;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.settingItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  font-weight: $fw-semibold;
  line-height: 40px;
}

.gridLabel,
.position,
.member,
.participant,
.action {
  margin: auto;
  text-align: center;
}

.gridLabel {
  font-weight: $fw-bold;
}

.position {
  width: fit-content;
  padding: 5px 12px;
  border: 1px solid $gray-3;
  border-radius: $r-small;
  font-size: $fs-xxsmall;
  font-weight: $fw-semibold;
  background-color: $white-2;
}

.member,
.participant {
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 450px;
    height: 40px;
    padding: 13px 20px;
    border: 1px solid $gray-3;
    border-radius: $r-small;
    line-height: 40px;

    &__left {
      display: flex;
      flex-direction: row;
      gap: 10px;

      &__img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      &__nickname {
        font-weight: $fw-bold;
      }

      &__badges {
        font-size: $fs-xxxsmall;
      }
    }

    &__right {
      display: flex;
      flex-direction: row;
      gap: 20px;

      &__position {
        width: fit-content;
        height: min-content;
        margin: auto;
        padding: 8px 14px;
        border-radius: $r-medium;
        font-size: $fs-xxsmall;
        font-weight: $fw-semibold;
        line-height: $fs-xxsmall;
        color: $white-1;
        background-color: $yellow-1;
      }

      &__temperature {
        font-size: $fs-xxsmall;
      }
    }
  }
}
