@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;

.content {
  width: 100%;
  padding: 8px 0;

  @include m.mobile {
    padding: 4px 0;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;

  @include m.mobile {
    gap: 8px;
  }
}
