@use '@/styles/variables' as *;
@use '@/styles/mixins' as m;
@use '@/styles/postPagesLayout' as p;

.title {
  @include m.font-title;
}

@include p.post-layout-base-styles;

.titleInput {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid $gray-3;
  border-radius: $r-xsmall;
  font-size: $fs-xsmall;
  font-weight: $fw-regular;
  background-color: $white-3;

  &:focus {
    border-color: $blue-1;
    outline: none;
  }

  &::placeholder {
    color: $gray-2;
  }
}
