@use '@/styles/variables.scss' as *;

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1.3rem;
}

.subTitle {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: $fs-xsmall;
  font-weight: $fw-bold;
  color: $black-1;
}

.required {
  color: $red-1;
}

.error {
  margin-top: 0.2rem;
  margin-left: 0.5rem;
  font-size: $fs-xxsmall;
  font-weight: $fw-bold;
  color: $red-1;
}
