@use '@/styles/variables' as *;

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0 16px;
  padding-top: 56px;
  background-color: $white-2;
}

.content {
  align-content: center;
  box-sizing: border-box;
  width: 985px;
  min-height: 750px;
  border: 0.7px solid $gray-3;
  border-radius: 10px;
  background-color: $white-3;
}
