@use '@/styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0 16px;
  padding-top: 56px;
  background-color: $white-2;
}

.content {
  align-content: center;
  box-sizing: border-box;
  width: 985px;
  min-height: 750px;
  border: 3px solid $gray-3;
  border-radius: 10px;
  background-color: $white-3;
}

@media (width <= 1280px) {
  .content {
    width: 90%;
    padding: 0 20px;
  }
}
