@use '@/styles/variables' as *;

.user {
  margin: auto;
  text-align: center;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    height: 40px;
    padding: 11px 15px;
    border: 1px solid $gray-3;
    border-radius: $r-small;
    line-height: 40px;

    &__left {
      display: flex;
      flex-direction: row;
      gap: 15px;

      &__img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      &__nickname {
        font-weight: $fw-bold;
      }

      &__badge {
        display: flex;
        align-items: center;
        font-size: $fs-xxxsmall;
      }
    }

    &__right {
      display: flex;
      flex-direction: row;
      gap: 10px;

      &__position {
        width: fit-content;
        height: min-content;
        margin: auto;
        padding: 8px 14px;
        border-radius: $r-medium;
        font-size: $fs-xxsmall;
        font-weight: $fw-semibold;
        line-height: $fs-xxsmall;
        color: $white-1;
        background-color: $yellow-1;
      }

      &__temperature {
        display: flex;
        align-items: center;
        font-size: $fs-xxsmall;
      }
    }
  }
}
