@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;

.locationSection {
  position: relative;
  padding: 20px;
  border: 0.7px solid v.$gray-3;
  border-radius: v.$r-small;
  background-color: v.$white-3;

  @include m.mobile {
    padding: 16px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
  @include m.font-small-title;

  margin: 0;
  color: v.$black-1;

  @include m.mobile {
    @include m.font-description;
  }
}

.editButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 29px;
  border: 1px solid v.$gray-1;
  border-radius: v.$r-xxsmall;
  color: v.$white-3;
  background-color: v.$gray-1;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: v.$black-4;
  }

  &:active {
    border: 1px solid v.$gray-1;
    color: v.$gray-1;
    background-color: v.$white-1;
  }

  @include m.mobile {
    width: 25px;
    height: 25px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mapContainer {
  width: 100%;
  height: 400px;
  border: 1px solid v.$gray-4;
  border-radius: v.$r-xsmall;
  overflow: hidden;

  @include m.mobile {
    height: 150px;
  }
}

.mapPlaceholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 100%;
  color: v.$gray-1;
  background-color: v.$white-1;
}

.locationText {
  margin: 0;
  border-radius: v.$r-xsmall;
  font-size: v.$fs-xxsmall;
  font-weight: v.$fw-regular;
  text-align: start;
  color: v.$black-4;

  @include m.mobile {
    font-size: v.$fs-xxxsmall;
  }
}

.privateMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 16px;
  padding: 17px 12px 0;
  border-top: 1px solid v.$gray-4;
  font-size: v.$fs-xxxsmall;
  text-align: center;
  color: v.$gray-1;

  @include m.mobile {
    margin-top: 12px;
    padding: 13px 8px 0;
    font-size: 11px;
  }
}
