@use '@/styles/variables' as *;

// TODO: 레이아웃 잡은 뒤 수정 필요할 수 있음
.container {
  width: 100%;
  height: 100%;
}

.map__header {
  width: 100%;
  height: 56px;
  line-height: 56px;
  text-align: center;
  background-color: $white-3;
}

.map__subHeader {
  width: 100%;
  height: 41px;
  line-height: 41px;
  text-align: center;
  background-color: $white-1;
}

.map__content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 97px);
}

.map__sidebar {
  width: 47px;
  height: 100%;
  line-height: 47px;
  background-color: $gray-4;
  text-orientation: upright;
  writing-mode: vertical-rl;
}

.map__sidebarToggleBtn {
  cursor: pointer;
}

.map__panelContainer {
  position: absolute;
  top: 97px;
  left: 47px;
  z-index: 100;
  width: 363px;
  height: calc(100% - 97px);
  background-color: $white-3;
}

.map__subPanelContainer {
  position: absolute;
  top: 97px;
  left: 410px;
  z-index: 1000;
  width: 300px;
  height: calc(100% - 97px);
  background-color: $white-3;
}

.map__container {
  width: calc(100% - 47px);
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}

.subPanel__closeBtn {
  position: absolute;
  top: calc(50% - 25px);
  right: -20px;
  width: 20px;
  height: 50px;
  border: 1px solid $gray-2;
  border-radius: 0 10px 10px 0;
  line-height: 50px;
  text-align: center;
  background-color: $white-3;
  cursor: pointer;

  &:hover {
    background-color: $gray-3;
  }
}
